ol {
    list-style: decimal-leading-zero outside;
    background: lightskyblue;
    padding: 10px;
}
ol li {
    background: pink;
    margin: 5px;
    margin-left: 30px;
}
ul {
    list-style: disclosure-open outside url(../Images/bullet_triangle_grey.png);
    background: olivedrab;
    padding: 10px;
}
ul li {
    background: peachpuff;
    margin: 5px;
    margin-left: 30px;
}